<div class="jh-shell">
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">
            <img src="/shell/static/bootstrap-solid.svg" width="30" height="30"
                 class="d-inline-block align-top" alt="">
            JHipster Microfrontend POC
        </a>
    </nav>
</div>